.metadata
.recommenders
RemoteSystemsTempFiles/

01-Pacotes/bin
01-Pacotes/.settings
01-Pacotes/.classpath
01-Pacotes/.project

02-Jar_Javadoc/bin
02-Jar_Javadoc/.settings
02-Jar_Javadoc/.classpath
02-Jar_Javadoc/.project

03-JavaLang/bin
03-JavaLang/.settings
03-JavaLang/.classpath
03-JavaLang/.project

04-Pacote_JavaIO/bin
04-Pacote_JavaIO/.settings
04-Pacote_JavaIO/.classpath
04-Pacote_JavaIO/.project

5-Collections-framework/bin
5-Collections-framework/.settings
5-Collections-framework/.classpath
5-Collections-framework/.project

#bin
#.settings
#.classpath
#.project
